pytest
pytest-mock
black
flake8
mypy
types-requests
isort
dagster==0.14.17
dagster-postgres==0.14.17
dagster-docker==0.14.17
requests==2.27.1
psycopg2-binary==2.9.3
boto3==1.21.21
dagster-dbt==0.14.17
dbt==0.21.1